<!--
 Writen By: DevRaj Thakur Thursday, 28 June 2018
-->
<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only color="royal">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid class="no-padding">
    <ion-row class="no-padding">
      <ion-col col-6 class="no-padding" *ngFor="let details of detail" (click)="goToDetail(details)">
        <ion-card class="no-padding" style="border-radius: 5px;">
          <img style="height: 175px;" src="{{details.item_image}}" />
          <ion-card-content class="no-padding">
            <ion-card-title style="font-size:14px; font-style: bold;font-style: oblique;text-align: center;padding:5px;" Text-Capitalize>
              {{details.item_name}}
            </ion-card-title>
            <ion-row style="margin-bottom: 10px;padding-right: 5px;">
              <ion-col col-4 *ngFor="let total of details.total_time" class="no-padding" style="text-align: center;">
                <p class="font-txt" text-uppercase> {{total.time_title}}
                  <br>{{total.time_est}}&nbsp;min</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>