<!--
  Generated template for the AddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Recipes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item *ngFor="let att of anArray; let idx = index">
    <ion-input type="text" placeholder="Description" text-left  [(ngModel)]="anArray[idx].value"></ion-input>
</ion-item>

<ion-item *ngFor="let attt of anInArray; let idx = index">
  <ion-input type="text" placeholder="Ingredient" text-left  [(ngModel)]="anInArray[idx].value"></ion-input>
</ion-item>

<ion-item>
  <ion-input type="text" placeholder="image url" text-left  [(ngModel)]="data.item_image"></ion-input>
</ion-item>

<ion-item>
  <ion-input type="text" placeholder="nutrition facts" text-left  [(ngModel)]="data.nutrition_facts"></ion-input>
</ion-item>

<ion-item>
  <ion-input type="text" placeholder="Name" text-left  [(ngModel)]="data.item_name"></ion-input>
</ion-item>
<!---->
<ion-item>
  <ion-input type="text" placeholder="time title" text-left  [(ngModel)]="data.title_one"></ion-input>
</ion-item>

<ion-item>
  <ion-input type="text" placeholder="time" text-left  [(ngModel)]="data.time_one"></ion-input>
</ion-item>

<ion-item>
  <ion-input type="text" placeholder="time title two" text-left  [(ngModel)]="data.title_two"></ion-input>
</ion-item>

<ion-item>
  <ion-input type="text" placeholder="time" text-left  [(ngModel)]="data.time_two"></ion-input>
</ion-item>

<ion-item>
  <ion-input type="text" placeholder="time title three" text-left  [(ngModel)]="data.title_three"></ion-input>
</ion-item>


<ion-item>
  <ion-input type="text" placeholder="time" text-left  [(ngModel)]="data.time_three"></ion-input>
</ion-item>


<button ion-button   (click)="AddDescription()">Add More</button>

<button ion-button   (click)="AddIngredient()">Add More 2</button>
<button ion-button full  (click)="goTo(data)" >let's go</button>
<!-- 
<ion-card *ngIf="data">
<ion-item *ngFor="let att of anArray;">
  <div class="card-title">{{att.value}}</div>
</ion-item>AddIngredients
</ion-card> -->
    <!-- <h2>Add User</h2>
    <form (ngSubmit)="saveUser()">
      <ion-item>
        <ion-label>Discription</ion-label>
        <ion-input type="text" [(ngModel)]="user.discription" name="discription"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" [(ngModel)]="user.username" name="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" [(ngModel)]="user.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Phone</ion-label>
        <ion-input type="text" [(ngModel)]="user.phone" name="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Website</ion-label>
        <ion-input type="url" [(ngModel)]="user.website" name="website"></ion-input>
      </ion-item>
      <ion-item-divider color="light">Address</ion-item-divider>
      <ion-item>
        <ion-label>Street</ion-label>
        <ion-input type="text" [(ngModel)]="user.address.street" name="street"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Suite</ion-label>
        <ion-input type="text" [(ngModel)]="user.address.suite" name="suite"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>City</ion-label>
        <ion-input type="text" [(ngModel)]="user.address.city" name="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Zip Code</ion-label>
        <ion-input type="text" [(ngModel)]="user.address.zipcode" name="zipcode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Geo</ion-label>
        <ion-input type="text" [(ngModel)]="user.address.geo.lat" name="lat" placeholder="Latitude"></ion-input>
        <ion-input type="text" [(ngModel)]="user.address.geo.lng" name="lng" placeholder="Longitude"></ion-input>
      </ion-item>
      <ion-item-divider color="light">Company</ion-item-divider>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" [(ngModel)]="user.company.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Business</ion-label>
        <ion-input type="text" [(ngModel)]="user.company.bs" name="bs"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Catch Phrase</ion-label>
        <ion-input type="text" [(ngModel)]="user.company.catchPhrase" name="catchPhrase"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Add User</button>
    </form> -->

</ion-content>
