page-add {
    .main-box-input {
        background-color: #ffffff;
        border: 1px solid #b1b1b1;
        border-radius: 10px;
    }

    .input-txt {
        font-family: fantasy;
        font-size: 20px;
        font-weight: 700;
    }

}
