<ion-header no-border>
  <ion-navbar>
    <ion-title>Recipe Detail</ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="shareRecipe(image_url)">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content fullscreen parallax-header>

  <div class="header-image card-background-page" [style.background-image]="'url(' + image_url + ')'" text-wrap>
    <div class="card-title" text-wrap>{{title}}</div>
    <div class="card-subtitle" text-wrap>
      <ion-row style="font-size: 10px;text-align: center;" text-uppercase>
        <ion-col col-4 *ngFor="let tim of time" >
           {{tim.time_title}}<br><br>{{tim.time_est}}
        </ion-col>
      </ion-row>
    </div>
  </div>



  <ion-list no-lines>
    <ion-list-header text-uppercase>
      Ingredients
    </ion-list-header>
    <ion-item *ngFor="let ingredients of ingredient; let i = index" text-wrap>
      <ion-row class="no-padding">
        <ion-col col-2 class="no-padding">
          <button class="btn-shape" (click)="addToList()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-10 class="no-padding">
          <p class="ingred-style">
            {{ingredients}}</p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>






  <ion-list no-lines>
    <ion-list-header text-uppercase>
      Directions
    </ion-list-header>
    <ion-item *ngFor="let descriptions of description let i = index" text-wrap>
      <ion-row class="no-padding">
        <ion-col col-2 class="no-padding">
          <button class="btn-shape">
            {{i+1}}
          </button>
        </ion-col>
        <ion-col col-10 class="no-padding">
          <p class="ingred-style">
            {{descriptions}}</p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>


  <ion-list no-lines>
    <ion-list-header text-uppercase>
      Nutrition Facts
    </ion-list-header>
    <ion-item text-wrap>
      <ion-row class="no-padding">
        <ion-col class="no-padding">
          <p class="ingred-style">
            {{nutritionfacts}}</p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>